page-pokemon {

}

.text {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 200%;
}

.background {
    background-image: url('../../assets/imgs/423673.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    max-width: 65%;
}

ion-title {
    text-align: center;
    margin-right: 20%;
}

.centro {
  margin-left: 35%;  
}